{% extends "../layout.njk" %}
{% block css %}
	<link rel="stylesheet" href="/styles/form.css">
{% endblock %}
{% block title %}
  <title>Matheus Company | Editar usuário</title>
{% endblock %}
{% block content %}
  <div class="content">
    <div class="create-wrapper" >
      <form class="form-details" action="/users?_method=PUT" method="post">
        <header>
          <h1>Editar Usuário</h1>
        </header>
				<input type="hidden" name="id" value="{{ user.id }}"/>
        {% include "./Fields.njk" %}
        <div class="form-buttons">
          <button type="submit">Salvar Empresa</button>
          <button class="button-delete" form="form-delete" type="submit">Deletar Empresa</button>
        </div>
      </form>

      <form id="form-delete" class="form" action="/users?_method=DELETE" method="post">
        <input type="hidden" name="id" value="{{ user.id }}"/>
      </form>
    </div>
  </div>
  <script>
    const formDelete = document.querySelector("#form-delete")
    formDelete.addEventListener("submit", (event) => {
      const confirmation = confirm("Deseja Deletar?")
      if (! confirmation)
        return event.preventDefault()
    })
  </script>
{% endblock %}