{% extends "../layout.njk" %}
{% block title %} <title>Matheus Company | Companies</title> {% endblock %}
{% block css %}
	<link rel="stylesheet" href="/styles/main.css">
{% endblock %}
{% block content %}
	<div class="content">
		<aside>
			{% include "../Fields.njk" %}
		</aside>
		<main>
			<table>
				<thead>
					<tr>
						<th>Nome do usuário</th>
						<th>E-mail</th>
					</tr>
				</thead>
				<tbody>
						<tr>
							<td>{{ user.name }}</td>
							<td>{{ user.email }}</td>
							<td>
								<a href="/users/{{ user.id }}/edit">Editar usuário</a>
							</td>
						</tr>
				</tbody>
			</table>
		</main>
	</div>
{% endblock %}