* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:focus {
	outline: transparent;
	box-shadow: 0 0 0 2px #E1E1E6;
}

body {
	background: #09090A;
	color: #E1E1E6;
	font-family: "Roboto", sans-serif;
}

.container {
	height: 100vh;
}