{% extends "./layout.njk" %}
{% block title %} <title>Matheus Company | Companies</title> {% endblock %}
{% block css %}
	<link rel="stylesheet" href="styles/main.css">
{% endblock %}
{% block content %}
	<div class="content">
		{% include "./Fields.njk" %}
		<main>
			<table>
				<thead>
					<tr>
						<th>Nome Fantasia</th>
						<th>E-mail comercial</th>
						<th>Telefone</th>
					</tr>
				</thead>
				<tbody>
					{% for company in companies %}
						<tr>
							<td>
								<a href="/companies/{{ company.id }}">{{ company.name }}</a>
							</td>
							<td>{{ company.email }}</td>
							<td>{{ company.phone }}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</main>
	</div>
{% endblock %}