{% extends "./layout.njk" %}
{% block title %} <title>Matheus Company | Home</title> {% endblock %}
{% block css %}
	<link rel="stylesheet" href="styles/home.css">
{% endblock %}
{% block content %}
	<div class="content">
		<div class="form-container">
			<h2>Welcome to Mateus Company</h2>
			<a href="/companies">Empresas</a>
			<a href="/users">Usuários</a>
		</div>
	</div>
{% endblock %}