{% extends "./layout.njk" %}
{% block title %} <title>Matheus Company | Users</title> {% endblock %}
{% block css %}
	<link rel="stylesheet" href="styles/main.css">
{% endblock %}
{% block content %}
	<div class="content">
		{% include "./Fields.njk" %}
		<main>
			<table>
				<thead>
					<tr>
						<th>Name</th>
						<th>Email</th>
						<th>Password</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						{% for user in users %}
							<td>{{user.name}}</td>
							<td>{{user.email}}</td>
							<td>{{user.password}}</td>
						{% endfor %}
					</tr>
				</tbody>
			</table>
		</main>
	</div>
{% endblock %}