{% extends "./layout.njk" %}
{% block title %} <title>Matheus Company | Users</title> {% endblock %}
{% block css %}
	<link rel="stylesheet" href="styles/main.css">
{% endblock %}
{% block content %}
	<div class="content">
		{% include "./Fields.njk" %}
		<main>
			<table>
				<thead>
					<tr>
						<th>Name</th>
						<th>Email</th>
						<th>Password</th>
					</tr>
				</thead>
				<tbody>
					{% for user in users %}
						<tr>
							<td>
								<a href="/users/{{ user.id }}">{{ user.name }}</a>
							</td>
							<td>{{user.email}}</td>
							<td>{{user.password}}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</main>
	</div>
{% endblock %}