<aside>
	<div class="profile">
		<img src="https://github.com/mateeusls.png" alt="Matheus Lopes">
		<div class="profile-info">
			<span>Matheus Lopes</span>
			<p>Gerente de T.I</p>
		</div>
	</div>
</aside>